# Adapted from create-t3-app.
name: Release

on:
  push:
    paths:
      - '.changeset/**'
      - 'packages/**'
    branches:
      - main

jobs:
  release:
    if: ${{ github.repository_owner == 'SaulMoro' }}
    name: Create a PR for release workflow
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Use PNPM
        uses: pnpm/action-setup@v2.2.4
        with:
          version: 8.6.5

      - name: Use Node.js 18
        uses: actions/setup-node@v3
        with:
          version: 8.6.5
          node-version: 18
          cache: 'pnpm'

      - name: Install NPM Dependencies
        run: pnpm install

      - name: Check for errors
        run: pnpm affected:lint

      - name: Build packages
        run: pnpm affected:build

      - name: Create Version PR or Publish to NPM
        id: changesets
        uses: changesets/action@v1
        with:
          commit: 'chore(release): version packages'
          title: 'chore(release): version packages'
          version: node .github/changeset-version.js
          publish: npx changeset publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_ACCESS_TOKEN }}
          NODE_ENV: 'production'
